services:
  db:
    image: postgres
    restart: always
    environment:
      - stack.env
    ports:
      - 5432:5432
  migrate:
    image: "ghcr.io/socialkoapp/backend:master"
    environment:
      - stack.env
    command: "npx prisma migrate deploy"
  backend:
    image: "ghcr.io/socialkoapp/backend:master"
    restart: always
    environment:
      - stack.env
    ports:
      - 4000:4000