<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
  </head>

  <style>
    @import
    url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
    * { margin: 0; padding: 0; box-sizing: border-box; } body {
    background-color: #171717; width: 100vw; height: 100vh; } table {
    margin-left: auto; margin-right: auto; padding-bottom: 20px; padding-top:
    20px; } td { text-align: center; } .text { font-family: "Quicksand",
    sans-serif; color: #f0f0f0; } .button { padding: 10px 15px; border: none;
    text-decoration: none; background-color: #b810c3; color: #f0f0f0;
    border-radius: 12px; } .sm { font-size: 12px; }
  </style>
  <body>
    <table width='100%' border='0' cellspacing='0' cellpadding='0'>
      <tr>
        <td>
          <h1 class='text'><b>hey {{name}}!</b></h1>
        </td>
      </tr>
      <tr>
        <td><br /></td>
      </tr>
      <tr>
        <td>
          <h2 class='text'>here's your password reset link!</h2>
        </td>
      </tr>
      <tr>
        <td><br /></td>
      </tr>
      <tr>
        <td>
          <p class='text'>you have requested to reset your password.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class='text'>if that wasn't you, please ignore this email.</p>
        </td>
      </tr>
      <tr>
        <td><br /></td>
      </tr>
      <tr>
        <td>
          <a class='button text' href='{{url}}'>reset my password</a>
        </td>
      </tr>
    </table>
  </body>
</html>